html{
	font-family: 'Noto Sans TC', sans-serif;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size:1.2rem;
	text-transform: none;
	letter-spacing:-0.05rem;
}
h1{
	font-family: 'Noto Sans TC', sans-serif;
}

h1 .text-primary{
	font-size:3rem;
	letter-spacing:-0.05rem;
	line-height:3rem;
}


}

h2{
	font-family: 'Noto Sans TC', sans-serif;
}

h3{
	font-family: 'Noto Sans TC', sans-serif;
}

h3{
  color: black ;
}

a{
	font-family: 'Noto Sans TC', sans-serif;
}

p{
  color: #868E96 ;
}

table {width: 80%;}

div class="subheading mb-3"{
  color: pink ;
}


.graph_set{
	margin-top:3rem;
}


.bg-primary{
	background-color: #60c9c0;!important;
	background-image: url("../img/my-little-plaid-dark.png");
